Repository gchq/Bailo, pull requests merged in 2025-05, with the labels that each got.

#2168 Upload a Docker image to S3 from the backend
  backend/src/clients/registry.ts
  backend/src/scripts/streamDockerRegistryToS3.ts
  backend/src/services/mirroredModel.ts
  backend/src/services/registry.ts
  backend/test/clients/__snapshots__/registry.spec.ts.snap
  backend/test/clients/registry.spec.ts
  backend/test/services/mirroredModel.spec.ts
Labels: enhancement, javascript, ready for review

#2159 Added API end points for creating and viewing review roles
  backend/src/connectors/audit/Base.ts
  backend/src/connectors/audit/__mocks__/index.ts
  backend/src/connectors/audit/silly.ts
  backend/src/connectors/audit/stdout.ts
  backend/src/connectors/authorisation/actions.ts
  backend/src/connectors/authorisation/base.ts
  backend/src/models/Model.ts
  backend/src/models/ReviewRole.ts
  backend/src/models/Token.ts
  backend/src/routes.ts
  backend/src/routes/v2/review/getReviewRoles.ts
  backend/src/routes/v2/review/postReviewRole.ts
  backend/src/services/review.ts
  backend/src/services/specification.ts
  backend/test/routes/review/__snapshots__/getReviewRoles.spec.ts.snap
  backend/test/routes/review/__snapshots__/postReviewRole.spec.ts.snap
  backend/test/routes/review/getReviewRoles.spec.ts
  backend/test/routes/review/postReviewRole.spec.ts
  backend/test/services/__snapshots__/review.spec.ts.snap
  backend/test/services/review.spec.ts
  backend/test/testUtils/testModels.ts
Labels: enhancement, javascript, ready for review, draft

#2210 added a dialog to the review pages to review the content being reviewed
  frontend/pages/model/[modelId]/access-request/[accessRequestId]/review.tsx
  frontend/pages/model/[modelId]/release/[semver]/review.tsx
  frontend/src/Form/JsonSchemaForm.tsx
  frontend/src/entry/model/accessRequests/EditableAccessRequestForm.tsx
  frontend/src/entry/model/releases/EditableRelease.tsx
  frontend/src/entry/model/releases/ReleaseForm.tsx
Labels: enhancement, javascript, ready for review

#2217 Remove swcMinify flag from lib/landing
  lib/landing/next.config.mjs
Labels: bug, javascript, ready for review

#2218 Expect pytest warning
  lib/python/tests/test_model.py
Labels: bug, python

#2126 added the ability to add tags to a file via the file management tab
  backend/src/connectors/authorisation/base.ts
  backend/src/migrations/017_add_file_tags_empty_array.ts
  backend/src/models/File.ts
  backend/src/routes.ts
  backend/src/routes/v2/model/file/patchFile.ts
  backend/src/routes/v2/model/file/postSimpleUpload.ts
  backend/src/services/file.ts
  backend/test/routes/model/file/__snapshots__/patchFile.spec.ts.snap
  backend/test/routes/model/file/patchFile.spec.ts
  backend/test/services/__snapshots__/file.spec.ts.snap
  backend/test/services/file.spec.ts
  frontend/actions/file.ts
  frontend/pages/model/[modelId].tsx
  frontend/pages/model/[modelId]/release/new.tsx
  frontend/src/MuiForms/TagSelector.tsx
  frontend/src/common/MultiFileInput.tsx
  frontend/src/common/MultiFileInputFileDisplay.tsx
  frontend/src/entry/model/ModelFileManagement.tsx
  frontend/src/entry/model/releases/EditableRelease.tsx
  frontend/src/entry/model/releases/FileDownload.tsx
  frontend/src/entry/model/releases/FileTagSelector.tsx
  frontend/src/entry/model/releases/ReleaseDisplay.tsx
  frontend/src/entry/model/releases/ReleaseForm.tsx
  frontend/types/types.ts
Labels: enhancement, javascript

#2167 Add pagination to File Management tab
  frontend/src/common/Paginate.tsx
  frontend/src/entry/model/ModelFileManagement.tsx
  frontend/src/entry/model/files/FileDisplay.tsx
  frontend/src/entry/model/releases/ReleaseDisplay.tsx
  frontend/src/entry/model/releases/ReleaseForm.tsx
Labels: enhancement, javascript, ready for review

#2221 added a scanner check for rescaning files button
  frontend/src/entry/model/ModelFileManagement.tsx
  frontend/src/entry/model/releases/ReleaseDisplay.tsx
Labels: bug, javascript, ready for review

#2220 Fixed delete with no auth error
  backend/src/connectors/authorisation/base.ts
Labels: bug, javascript, ready for review

#2211 Feature/bai 1717 add org and state to model display
  frontend/pages/model/[modelId].tsx
  frontend/src/common/PageWithTabs.tsx
  frontend/src/common/UserAvatar.tsx
  frontend/src/common/UserDisplay.tsx
  frontend/src/entry/model/OrganisationAndStateDetails.tsx
  frontend/src/entry/overview/FormEditPage.tsx
  frontend/src/entry/settings/EntryDetails.tsx
Labels: enhancement, javascript, ready for review

#2227 Bump bitnami/mongodb from 7.0.8 to 7.0.15
  docker-compose-prod.yml
  docker-compose.yml
  frontend/pages/docs/administration/helm/isolated-environments.mdx
  infrastructure/helm/bailo/values.yaml
Labels: dependencies

#2228 Removed the awaiting review text from minor releases
  frontend/src/entry/model/files/FileDisplay.tsx
  frontend/src/entry/model/releases/ReleaseDisplay.tsx
Labels: bug, javascript, ready for review

#2231 added a new file upload dialog in the file management tab
  backend/src/routes/v2/model/file/postSimpleUpload.ts
  frontend/actions/file.ts
  frontend/pages/model/[modelId]/release/new.tsx
  frontend/src/common/MultiFileInput.tsx
  frontend/src/common/MultiFileInputFileDisplay.tsx
  frontend/src/entry/model/ModelFileManagement.tsx
  frontend/src/entry/model/files/FileToBeUploaded.tsx
  frontend/src/entry/model/files/FileUploadDialog.tsx
  frontend/src/entry/model/releases/EditableRelease.tsx
  frontend/types/types.ts
Labels: bug, enhancement, javascript, ready for review

#2229 added organisation search filter
  backend/src/routes/v2/model/getModelsSearch.ts
  backend/src/services/model.ts
  backend/test/routes/model/__snapshots__/getModelsSearch.spec.ts.snap
  backend/test/services/model.spec.ts
  frontend/actions/model.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/index.tsx
  frontend/pages/model/[modelId]/template.tsx
  frontend/src/common/ChipSelector.tsx
  frontend/src/common/Paginate.tsx
  frontend/src/entry/model/ModelFileManagement.tsx
  frontend/src/marketplace/EntryList.tsx
  frontend/src/marketplace/EntryListRow.tsx
  frontend/src/schemas/SchemaList.tsx
  frontend/src/wrapper/EntrySearch.tsx
Labels: enhancement, javascript, ready for review

#2230 added pagination to various places
  frontend/cypress/e2e/bailo/draft-and-review-release.cy.ts
  frontend/pages/schemas/list.tsx
  frontend/src/common/MultiFileInputFileDisplay.tsx
  frontend/src/common/Paginate.tsx
  frontend/src/entry/model/AccessRequests.tsx
  frontend/src/entry/model/ModelFileManagement.tsx
  frontend/src/entry/model/Releases.tsx
  frontend/src/entry/model/accessRequests/AccessRequestDisplay.tsx
  frontend/src/entry/model/files/FileDisplay.tsx
  frontend/src/entry/model/releases/ExistingFileSelector.tsx
  frontend/src/entry/model/releases/ReleaseDisplay.tsx
  frontend/src/entry/model/releases/ReleaseForm.tsx
  frontend/src/reviews/ReviewCommentDisplay.tsx
  frontend/src/reviews/ReviewComments.tsx
  frontend/src/reviews/ReviewDecisionDisplay.tsx
  frontend/src/reviews/ReviewItem.tsx
  frontend/src/reviews/ReviewsList.tsx
Labels: enhancement, javascript, ready for review

#2246 Replicated changes from bugfix/fix-minio-not-starting
  docker-compose-prod.yml
  docker-compose.yml
Labels: bug, docker_compose
