Repository gchq/Bailo, pull requests merged in 2025-04, with the labels that each got.

#2118 Feature/bai 1640 cleanup python client api endpoints
  .pre-commit-config.yaml
  lib/python/README.md
  lib/python/src/bailo/core/client.py
  lib/python/tests/test_files.py
Labels: bug, python

#2116 fixed an issue where role filters were appling to all entries
  backend/src/services/model.ts
Labels: bug, javascript

#2061 changed where we cal the rescanning update text so it is not called w…
  frontend/src/entry/model/Files.tsx
  frontend/src/entry/model/releases/FileDownload.tsx
  frontend/src/entry/model/releases/ReleaseDisplay.tsx
  frontend/src/entry/model/releases/ReleaseForm.tsx
Labels: bug, enhancement, javascript, ready for review

#2120 Create release.yml
  .github/release.yml
Labels: enhancement

#2119 MLFlow tests, linting & docs
  backend/docs/notebooks/experiment_tracking_demo.ipynb
  lib/python/README.md
  lib/python/src/bailo/core/utils.py
  lib/python/src/bailo/helper/entry.py
  lib/python/src/bailo/helper/model.py
  lib/python/src/bailo/helper/release.py
  lib/python/src/bailo/helper/schema.py
  lib/python/tests/conftest.py
  lib/python/tests/test_model.py
Labels: python, tech debt

#1906 3.0.0 Python client release
  lib/python/CHANGELOG.md
  lib/python/pyproject.toml
  lib/python/src/bailo/__init__.py
Labels: python

#1466 updated config and audit for create model card£
  backend/src/connectors/audit/Base.ts
  backend/src/connectors/audit/silly.ts
  backend/src/connectors/audit/stdout.ts
  backend/src/routes/v2/model/modelcard/postFromSchema.ts
  backend/src/routes/v2/model/modelcard/postFromTemplate.ts
  backend/test/routes/model/modelcard/__snapshots__/postFromSchema.spec.ts.snap
  backend/test/routes/model/modelcard/__snapshots__/postFromTemplate.spec.ts.snap
  backend/test/routes/model/modelcard/postFromSchema.spec.ts
  backend/test/routes/model/modelcard/postFromTemplate.spec.ts
  infrastructure/helm/bailo/templates/bailo/bailo.configmap.yaml
Labels: javascript

#2054 Feature/bai 1634 select existing files releases
  frontend/actions/file.ts
  frontend/actions/release.ts
  frontend/cypress/e2e/bailo/draft-and-review-release.cy.ts
  frontend/pages/model/[modelId]/release/new.tsx
  frontend/src/common/MultiFileInput.tsx
  frontend/src/entry/model/releases/EditableRelease.tsx
  frontend/src/entry/model/releases/ExistingFileSelector.tsx
  frontend/src/entry/model/releases/ReleaseDisplay.tsx
  frontend/src/entry/model/releases/ReleaseForm.tsx
  frontend/types/types.ts
Labels: enhancement, javascript

#2124 MLFlow to optional dependency
  .github/workflows/build.js.yml
  backend/docs/notebooks/datacards_demo.ipynb
  backend/docs/notebooks/experiment_tracking_demo.ipynb
  frontend/pages/docs/users/programmatically-using-bailo/python-client.mdx
  lib/python/README.md
  lib/python/pyproject.toml
Labels: python, tech debt

#2131 updated the styling of the file download file size
  frontend/src/entry/model/releases/FileDownload.tsx
Labels: bug, javascript, ready for review

#2134 disabled api retrying for 404s when fetching user information
  frontend/actions/user.ts
Labels: bug, javascript, ready for review

#2123 Added the ability to upload files directly in the files tab for a model.
  frontend/pages/model/[modelId]/release/new.tsx
  frontend/src/common/FileUploadProgressDisplay.tsx
  frontend/src/entry/model/Files.tsx
  frontend/src/entry/model/releases/EditableRelease.tsx
  frontend/src/entry/model/releases/ExistingFileSelector.tsx
  frontend/src/entry/model/releases/ReleaseForm.tsx
  frontend/types/types.ts
Labels: enhancement, javascript

#2137 Fixed an issue stopping data cards being created
  frontend/src/entry/overview/TemplatePage.tsx
Labels: bug, javascript, ready for review

#2135 updated the delete file confirmation dialog to also show associated r…
  frontend/pages/model/[modelId].tsx
  frontend/src/entry/model/Files.tsx
  frontend/src/entry/model/releases/AssociatedReleasesDialog.tsx
  frontend/src/entry/model/releases/AssociatedReleasesList.tsx
  frontend/src/entry/model/releases/FileDownload.tsx
Labels: enhancement, javascript, ready for review

#1804 Upgrade from debian bullseye to bookworm
  backend/Dockerfile
  backend/Dockerfile.dev
  lib/modelscan_api/Dockerfile
  lib/modelscan_api/Dockerfile.dev
Labels: dependencies, docker, ready for review

#2122 Bai 1641 sort files tab by different fields
  frontend/src/entry/model/Files.tsx
Labels: enhancement, javascript

#2140 Added help icon describing different searches
  frontend/pages/index.tsx
  frontend/src/common/SearchInfo.tsx
Labels: enhancement, javascript

#2145 added model card revision selector to release form
  backend/src/routes/v2/release/postRelease.ts
  backend/src/routes/v2/release/putRelease.ts
  backend/src/services/release.ts
  frontend/pages/model/[modelId]/release/new.tsx
  frontend/src/entry/model/releases/EditableRelease.tsx
  frontend/src/entry/model/releases/ReleaseForm.tsx
  lib/python/src/bailo/core/client.py
  lib/python/src/bailo/helper/release.py
  lib/python/tests/test_release.py
Labels: enhancement, javascript, ready for review

#2164 Improve Python Agent docs
  backend/Dockerfile
  backend/Dockerfile.dev
  frontend/cypress/e2e/bailo/check-documentation-pages.cy.ts
  frontend/pages/docs/users/programmatically-using-bailo/authentication.mdx
  lib/modelscan_api/Dockerfile
  lib/modelscan_api/Dockerfile.dev
  lib/python/src/bailo/core/agent.py
Labels: documentation, docker, ready for review, python
