Repository gchq/Bailo, pull requests merged in 2025-09, with the labels that each got.

#2584 Add filename param to exportCompressedRegistryImage
  backend/package-lock.json
  backend/src/scripts/streamDockerRegistryFromS3.ts
  backend/src/scripts/streamDockerRegistryToS3.ts
  backend/src/services/mirroredModel/mirroredModel.ts
  backend/test/services/mirroredModel/mirroredModel.spec.ts
Labels: javascript, ready for review, model artefact management

#2635 move extra tabs
  infrastructure/helm/bailo/values.yaml
Labels: tech debt, helm

#2640 Improve .dockerignore and .gitignore to exclude unwanted files
  .dockerignore
  backend/.dockerignore
  frontend/.dockerignore
  frontend/.gitignore
  lib/modelscan_api/README.md
  lib/python/.dockerignore
Labels: docker, ready for review, tech debt

#2634 Improve dependabot groups
  .github/dependabot.yml
Labels: dependencies, ready for review, tech debt

#2669 Replace relative URL with absolute URL
  lib/python/README.md
Labels: documentation, python

#2668 Publish built images to GHCR
  .github/workflows/build.js.yml
Labels: github_actions, ready for review

#2671 Correct GitHub Actions `head` to `heads`
  .github/workflows/build.js.yml
Labels: bug, github_actions, ready for review

#2684 Re add missing files to model export
  backend/src/services/mirroredModel/mirroredModel.ts
  backend/src/utils/tarball.ts
  backend/test/services/mirroredModel/mirroredModel.spec.ts
  backend/test/testUtils/streams.ts
  backend/test/utils/tarball.spec.ts
Labels: bug, javascript, ready for review, model artefact management

#2681 Added schema migration API and integrated existing UI
  backend/src/connectors/audit/Base.ts
  backend/src/connectors/audit/__mocks__/index.ts
  backend/src/connectors/audit/silly.ts
  backend/src/connectors/audit/stdout.ts
  backend/src/connectors/authorisation/__mocks__/index.ts
  backend/src/connectors/authorisation/actions.ts
  backend/src/connectors/authorisation/base.ts
  backend/src/models/SchemaMigration.ts
  backend/src/routes.ts
  backend/src/routes/v2/schema/getSchemaMigrations.ts
  backend/src/routes/v2/schema/postSchemaMigration.ts
  backend/src/services/schemaMigration.ts
  backend/src/services/specification.ts
  backend/test/routes/schema/__snapshots__/getSchemaMigrations.spec.ts.snap
  backend/test/routes/schema/__snapshots__/postSchemaMigration.spec.ts.snap
  backend/test/routes/schema/getSchemaMigrations.spec.ts
  backend/test/routes/schema/postSchemaMigration.spec.ts
  backend/test/services/schemaMigration.spec.ts
  backend/test/testUtils/testModels.ts
  frontend/actions/schemaMigration.ts
  frontend/pages/schemas/list.tsx
  frontend/pages/schemas/migrations/new.tsx
  frontend/src/schemas/SchemaMigrationList.tsx
  frontend/src/schemas/SchemaMigrationSelector.tsx
  frontend/src/schemas/SchemaMigrator.tsx
  frontend/types/types.ts
Labels: enhancement, javascript, ready for review

#2652 Safer stream handling
  backend/src/clients/registry.ts
  backend/src/clients/registryResponses.ts
  backend/src/clients/s3.ts
  backend/src/services/mirroredModel/mirroredModel.ts
  backend/src/services/registry.ts
  backend/test/clients/__snapshots__/registry.spec.ts.snap
  backend/test/clients/registry.spec.ts
  backend/test/services/mirroredModel/mirroredModel.spec.ts
Labels: javascript, ready for review, tech debt, model artefact management

#2709 Improve Scanner logs & update config
  backend/config/default.cjs
  backend/src/connectors/fileScanning/Base.ts
  backend/src/connectors/fileScanning/clamAv.ts
  backend/src/connectors/fileScanning/modelScan.ts
  infrastructure/helm/bailo/templates/bailo/bailo.configmap.yaml
  infrastructure/helm/bailo/values.yaml
Labels: javascript, ready for review, model artefact management

#2692 fixed an issue where reviews weren't being made when new review roles…
  backend/src/services/review.ts
  backend/src/services/schema.ts
  backend/test/services/schema.spec.ts
  frontend/package-lock.json
  frontend/src/schemas/SchemaList.tsx
  frontend/src/schemas/SchemaListItem.tsx
  frontend/src/schemas/SchemaTab.tsx
  frontend/src/schemas/UpdateReviewRolesForSchemaDialog.tsx
Labels: bug, javascript, ready for review

#2698 Improve handling of importer errors
  backend/src/clients/registry.ts
  backend/src/routes/v2/model/postRequestImport.ts
  backend/src/services/mirroredModel/importers/imageImporter.ts
  backend/src/utils/tarball.ts
  backend/test/clients/registry.spec.ts
  backend/test/services/mirroredModel/importers/documentImporter.spec.ts
  backend/test/services/mirroredModel/importers/imageImporter.spec.ts
Labels: javascript, ready for review, tech debt, model artefact management

#2706 increase backend limit to pull more than 100 images
  backend/src/clients/registry.ts
Labels: bug, javascript, ready for review
