Repository gchq/Bailo, pull requests merged in 2025-08, with the labels that each got.

#2488 Improve API `POST` `/api/v2/model/{modelId}/export/s3` endpoint time
  backend/src/services/mirroredModel.ts
  backend/test/services/mirroredModel.spec.ts
Labels: javascript, ready for review, tech debt, model artefact management

#2469 Add release review information to model card export
  backend/src/routes/v2/response/getResponses.ts
  backend/src/services/modelCardExport.ts
  backend/src/services/response.ts
  backend/test/services/modelCardExport.spec.ts
  backend/test/services/response.spec.ts
Labels: enhancement, model card management

#2539 Replace `LoadingButton` with `Button` and remove `mui-lab` dependency
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/model/[modelId]/access-request/new.tsx
  frontend/pages/model/[modelId]/inference/new.tsx
  frontend/pages/model/[modelId]/release/new.tsx
  frontend/pages/model/[modelId]/template.tsx
  frontend/pages/reviewRoles/new.tsx
  frontend/pages/schemas/new.tsx
  frontend/pages/settings/personal-access-tokens/new.tsx
  frontend/src/Form/EditableFormHeading.tsx
  frontend/src/common/ReviewWithComment.tsx
  frontend/src/entry/CreateEntry.tsx
  frontend/src/entry/model/accessRequests/EditableAccessRequestForm.tsx
  frontend/src/entry/model/files/FileUploadDialog.tsx
  frontend/src/entry/model/mirroredModels/ExportModelAgreement.tsx
  frontend/src/entry/model/mirroredModels/ExportSettings.tsx
  frontend/src/entry/model/settings/AccessRequestSettings.tsx
  frontend/src/entry/model/settings/TemplateSettings.tsx
  frontend/src/entry/overview/SaveAndCancelFormButtons.tsx
  frontend/src/entry/settings/DangerZone.tsx
  frontend/src/entry/settings/EntryAccessTab.tsx
  frontend/src/entry/settings/EntryDetails.tsx
  frontend/src/reviews/ReviewComments.tsx
  frontend/src/schemas/SchemaButton.tsx
  frontend/src/settings/authentication/AuthenticationTab.tsx
Labels: dependencies, javascript, ready for review, tech debt

#2552 Upgrade docker version
  .gitlab-ci.yml
Labels: dependencies, docker

#2548 Implemented collaborator role in review role
  backend/config/default.cjs
  backend/src/connectors/authentication/Base.ts
  backend/src/connectors/authorisation/base.ts
  backend/src/services/model.ts
  backend/test/connectors/authorisation/authorisation.spec.ts
  backend/test/connectors/authorisation/base.spec.ts
  backend/test/routes/model/roles/__snapshots__/getModelRoles.spec.ts.snap
  backend/test/routes/review/__snapshots__/getReviewRoles.spec.ts.snap
  backend/test/routes/review/__snapshots__/postReviewRole.spec.ts.snap
  backend/test/services/roles.spec.ts
  backend/test/testUtils/testModels.ts
  frontend/pages/reviewRoles/new.tsx
  frontend/pages/reviewRoles/view.tsx
  lib/python/CHANGELOG.md
  lib/python/src/bailo/core/enums.py
Labels: enhancement, javascript, ready for review

#2567 Bugfix/bai 1940 comment response unkonwn user
  frontend/src/common/UserDisplay.tsx
  frontend/src/reviews/ReviewCommentDisplay.tsx
  frontend/src/reviews/ReviewDecisionDisplay.tsx
Labels: bug, javascript, ready for review

#2572 fixed an issue with the marketplace role selector
  frontend/pages/index.tsx
Labels: bug, javascript

#2141 Prepare python client release 3.1.0
  lib/python/CHANGELOG.md
  lib/python/src/bailo/__init__.py
  lib/python/tests/test_access_request.py
  lib/python/tests/test_client.py
  lib/python/tests/test_release.py
  lib/python/tests/test_schema.py
Labels: ready for review, python

#2550 Replace mirrored model zip with targz
  backend/package-lock.json
  backend/package.json
  backend/src/connectors/audit/Base.ts
  backend/src/connectors/audit/silly.ts
  backend/src/connectors/audit/stdout.ts
  backend/src/index.ts
  backend/src/routes/v2/model/postRequestExport.ts
  backend/src/routes/v2/model/postRequestImport.ts
  backend/src/scripts/streamDockerRegistryFromS3.ts
  backend/src/scripts/streamDockerRegistryToS3.ts
  backend/src/services/mirroredModel.ts
  backend/src/services/mirroredModel/importers/documentImporter.ts
  backend/src/services/mirroredModel/importers/fileImporter.ts
  backend/src/services/mirroredModel/importers/imageImporter.ts
  backend/src/services/mirroredModel/mirroredModel.ts
  backend/src/services/mirroredModel/parsers/modelParser.ts
  backend/src/services/release.ts
  backend/src/services/s3.ts
  backend/src/utils/tarball.ts
  backend/test/routes/model/postRequestExport.spec.ts
  backend/test/routes/model/postRequestImport.spec.ts
  backend/test/services/__snapshots__/mirroredModel.spec.ts.snap
  backend/test/services/mirroredModel.spec.ts
  backend/test/services/mirroredModel/__snapshots__/mirroredModel.spec.ts.snap
  backend/test/services/mirroredModel/importers/__snapshots__/documentImporter.spec.ts.snap
  backend/test/services/mirroredModel/importers/__snapshots__/fileImporter.spec.ts.snap
  backend/test/services/mirroredModel/importers/__snapshots__/imageImporter.spec.ts.snap
  backend/test/services/mirroredModel/importers/documentImporter.spec.ts
  backend/test/services/mirroredModel/importers/fileImporter.spec.ts
  backend/test/services/mirroredModel/importers/imageImporter.spec.ts
  backend/test/services/mirroredModel/mirroredModel.spec.ts
  backend/test/services/mirroredModel/parsers/__snapshots__/modelParser.spec.ts.snap
  backend/test/services/mirroredModel/parsers/modelParser.spec.ts
  backend/test/testUtils/streams.ts
  backend/test/utils/__snapshots__/tarball.spec.ts.snap
  backend/test/utils/tarball.spec.ts
Labels: javascript, ready for review, tech debt, model artefact management, sharing

#2577 Feature/bai 1695 schema diff
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/schemas/list.tsx
  frontend/src/schemas/SchemaCompare.tsx
  frontend/types/types.ts
  frontend/utils/test/testModels.ts
Labels: enhancement, javascript, ready for review

#2575 Remove node_modules from prod build stage
  backend/.dockerignore
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/pages/docs/v1/administration/getting-started/building-the-bailo-image.mdx
Labels: docker, tech debt

#2583 Python client `Release.download_all` fix
  backend/.dockerignore
  backend/Dockerfile
  lib/modelscan_api/.dockerignore
  lib/python/CHANGELOG.md
  lib/python/src/bailo/__init__.py
  lib/python/src/bailo/helper/release.py
  lib/python/tests/test_files.py
Labels: bug, docker, python
