Repository gchq/Bailo, pull requests merged in 2025-03, with the labels that each got.

#1977 Remove use of lodash package
  backend/src/services/model.ts
Labels: tech debt

#1915 Migrate scans to have their own mongo collection
  backend/src/connectors/audit/Base.ts
  backend/src/connectors/authorisation/base.ts
  backend/src/connectors/fileScanning/Base.ts
  backend/src/migrations/009_update_avscan_type.ts
  backend/src/migrations/012_add_avscan_lastRanAt_property.ts
  backend/src/migrations/015_migrate_avscan_to_own_model.ts
  backend/src/models/File.ts
  backend/src/models/Scan.ts
  backend/src/routes/v2/model/file/getDownloadFile.ts
  backend/src/routes/v2/model/file/getFiles.ts
  backend/src/routes/v2/model/file/postSimpleUpload.ts
  backend/src/routes/v2/release/getRelease.ts
  backend/src/routes/v2/release/getReleases.ts
  backend/src/scripts/listRegistryDigests.ts
  backend/src/services/file.ts
  backend/src/services/mirroredModel.ts
  backend/src/services/release.ts
  backend/src/services/specification.ts
  backend/test/services/__snapshots__/file.spec.ts.snap
  backend/test/services/file.spec.ts
  backend/test/services/mirroredModel.spec.ts
  frontend/types/types.ts
Labels: enhancement, javascript

#1886 BAI-1351 : Only create new model cards if the UI detects a change in the model card
  frontend/src/entry/overview/FormEditPage.tsx
Labels: enhancement, javascript

#1978 Added virtualised list to marketplace for quicker model rendering
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/index.tsx
  frontend/src/Wrapper.tsx
  frontend/src/marketplace/EntryList.tsx
  frontend/src/marketplace/EntryListRow.tsx
  package-lock.json
Labels: enhancement, javascript

#1995 fixed an issue when editng releases with new files
  frontend/src/entry/model/releases/AssociatedReleasesDialog.tsx
Labels: bug, javascript

#1996 Fix bad 015_migrate_avscan_to_own_model.ts logic
  backend/src/migrations/015_migrate_avscan_to_own_model.ts
Labels: bug

#2035 Dev/fix virtualised marketplace list issues
  frontend/src/common/EmptyBlob.tsx
  frontend/src/marketplace/EntryList.tsx
Labels: enhancement, javascript, ready for review

#2055 updated the av result chip to change when rescan is clicked
  frontend/src/entry/model/releases/FileDownload.tsx
Labels: enhancement, javascript, ready for review

#2057 re-added code for re-fetching user permissions
  frontend/src/entry/settings/EntryAccessTab.tsx
Labels: enhancement, javascript, ready for review

#2052 Fix bad avScan migration leaving legacy object rather than array
  backend/src/migrations/009_update_avscan_type.ts
  backend/src/migrations/012_add_avscan_lastRanAt_property.ts
  backend/src/migrations/015_migrate_avscan_to_own_model.ts
Labels: bug, javascript

#2064 Backwards compatibility for MongoDB <=4.4
  backend/src/services/release.ts
Labels: bug, ready for review

#2034 Update Scan errors
  backend/src/connectors/audit/stdout.ts
  backend/src/connectors/fileScanning/Base.ts
  backend/src/connectors/fileScanning/clamAv.ts
  backend/src/connectors/fileScanning/index.ts
  backend/src/connectors/fileScanning/modelScan.ts
  backend/src/connectors/fileScanning/wrapper.ts
  backend/src/migrations/015_migrate_avscan_to_own_model.ts
  backend/src/routes/v2/filescanning/getFilescanningInfo.ts
  backend/src/routes/v2/model/file/getDownloadFile.ts
  backend/src/services/file.ts
  backend/src/services/mirroredModel.ts
  backend/test/services/__snapshots__/file.spec.ts.snap
Labels: javascript, ready for review

#2063 Bai 1633 add the ability to delete file
  backend/package-lock.json
  backend/src/services/file.ts
  frontend/actions/model.ts
  frontend/package-lock.json
  frontend/src/entry/model/Files.tsx
  frontend/src/entry/model/releases/FileDownload.tsx
  frontend/src/entry/model/releases/ReleaseDisplay.tsx
  frontend/src/entry/model/releases/ReleaseForm.tsx
  frontend/src/entry/overview/FormEditPage.tsx
  frontend/src/marketplace/EntryList.tsx
Labels: enhancement, javascript
