Repository gchq/Bailo, pull requests merged in 2025-02, with the labels that each got.

#1856 group dependabot npm dependencies
  .github/dependabot.yml
Labels: dependencies

#1895 Update Python client to support Python 3.13
  .github/workflows/build.js.yml
  .github/workflows/modelscan.yml
  .github/workflows/python-publish-test.yml
  .github/workflows/python-publish.yml
  .github/workflows/python.yml
  .github/workflows/web.yml
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/Dockerfile.dev
  lib/modelscan_api/requirements-dev.txt
  lib/python/.pre-commit-config.yaml
  lib/python/pyproject.toml
Labels: dependencies, python

#1902 Update Mongoose to v7
  backend/package-lock.json
  backend/package.json
  backend/src/models/AccessRequest.ts
  backend/src/models/File.ts
  backend/src/models/Model.ts
  backend/src/models/Release.ts
  backend/src/models/Response.ts
  backend/src/models/Review.ts
  backend/src/models/Token.ts
  backend/src/models/Webhook.ts
  backend/src/services/schema.ts
  backend/src/services/token.ts
Labels: dependencies

#1903 Update mjml due to vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

#1921 Remove unused vitest snapshot files
  backend/test/routes/model/file/__snapshots__/deleteRelease.spec.ts.snap
  backend/test/routes/model/file/__snapshots__/getModelCard.spec.ts.snap
  backend/test/routes/model/modelcard/__snapshots__/postRequestExport.spec.ts.snap
  backend/test/routes/model/release/__snapshots__/patchReleaseComment.spec.ts.snap
  backend/test/routes/review/__snapshots__/getReview.spec.ts.snap
  backend/test/routes/schema/__snapshots__/patchSchema.spec.ts.snap
  backend/test/services/__snapshots__/approval.spec.ts.snap
  backend/test/services/__snapshots__/modelCard.spec.ts.snap
  backend/test/services/smtp/templates/__snapshots__/releaseReview.spec.ts.snap
Labels: tech debt

#1920 Align backend/docs config with new python minimum version 3.11
  .pre-commit-config.yaml
  backend/docs/README.md
Labels: dependencies, python
