Repository gchq/Bailo, pull requests merged in 2025-07, with the labels that each got.

#1384 Migrate access request schema select to main SchemaSelect component
  .github/workflows/build.js.yml
  frontend/pages/data-card/[dataCardId]/schema.tsx
  frontend/pages/model/[modelId]/access-request/schema.tsx
  frontend/pages/model/[modelId]/schema.tsx
  frontend/src/schemas/SchemaSelect.tsx
  frontend/types/types.ts
Labels: javascript

#2413 Add helm to dependabot config
  .github/dependabot.yml
Labels: dependencies, ready for review, tech debt

#2427 add rescan endpoint to python client
  lib/python/src/bailo/core/client.py
  lib/python/tests/test_client.py
Labels: enhancement, python

#2456 Add and improve bailo core docs
  lib/python/src/bailo/core/agent.py
  lib/python/src/bailo/core/client.py
  lib/python/src/bailo/core/enums.py
  lib/python/src/bailo/core/exceptions.py
  lib/python/src/bailo/core/utils.py
Labels: documentation, ready for review, python

#2447 Collapse Dockerfile.dev into single Dockerfile per service
  backend/Dockerfile
  backend/Dockerfile.dev
  docker-compose-prod.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/pages/docs/v1/administration/getting-started/building-the-bailo-image.mdx
  lib/modelscan_api/Dockerfile
  lib/modelscan_api/Dockerfile.dev
  lib/modelscan_api/README.md
Labels: docker, tech debt, docker_compose

#2470 aria-related changes alongside bugfixes
  frontend/src/entry/EntryOrganisationInput.tsx
  frontend/src/entry/EntryStateInput.tsx
  frontend/src/entry/model/accessRequests/AccessRequestDisplay.tsx
  frontend/src/entry/model/files/FileDisplay.tsx
  frontend/src/entry/model/releases/ReleaseDisplay.tsx
Labels: accessibility

#2482 Release review with incorrect semver causes hang
  frontend/pages/model/[modelId]/release/[semver]/review.tsx
Labels: bug, javascript, ready for review
